<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}MVC{% endblock title %}</title>
        <link rel="stylesheet" href="/webroot/style/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/webroot/style/css/style.css">
        <script src="/webroot/js/jquery-3.1.1.min.js"></script>
        <script src="/webroot/style/bootstrap/js/bootstrap.min.js"></script>
        <script src="/webroot/js/scripts.js"></script>
    <body>
    <header>
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/home">Home</a></li>
            <li role="presentation"><a href="/contact-us">Contacts</a></li>
            <li role="presentation"><a href="/admin/index">Admin panel</a></li>
            {% if session.get('user') %}
            <li class="float-right" role="presentation"><a href="/logout">Logout</a></li>
            {% else %}
            <li class="float-right" role="presentation"><a href="/register">Register</a></li>
            <li class="float-right" role="presentation"><a href="/login">Sign in</a></li>
            {% endif %}
        </ul>
        <p style="float: right;"><i>{{  session.get('user') }}</i></p>
    </header>

    <b>{{ session.getFlash() }}</b>
    <hr/>
    {% block body %}
        Default text
    {% endblock body %}
    </body>
</html>