{% extends 'admin_layout.phtml.twig' %}

{% block body %}
    <h3>Hello, it's Admin's index page</h3>
    <a href="/admin/change-pw">Change password</a><br/></br>
    <a href="/home">Exit from admin panel</a>
{% endblock body %}