{% extends 'default_layout.phtml.twig' %}

{% block title %}MVC | Home {% endblock title %}

{% block body %}
    <h3>Hello, it's Site's index page</h3>
    <p>paragraph</p>
    <em>Italic</em>
{% endblock body %}